<div id="products">
        {{#each products}}
        <h3>Producto: {{this.title}}</h3>
        <ul>
            <li>Precio: {{this.price}}</li>
            <li>Description: {{this.description}}</li>
            <li>Stock: {{this.stock}}</li>
        </ul>
    {{/each}}
</div>
<script src="../public/js/products.js"